<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="background-color:DodgerBlue;">Learning web app using Flask</h1>
<form action="/about/">
  <label for="age">Age: </label>
  <input type="text" id="age" name="age"><br><br>
    <input type="submit" value="Submit" onclick="window.location.href='/about/';">
</form>
<p>Age form is out of order.  Havig difficulty making it parse the age to the about page.  Please type "/about/26" without thee "" marks or whatever age you choose into the address bar on your web browser after the server address.  Working on a solution.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
</html>